body {
  background-color: #eaeaea;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  background-color: #d90404;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/* FORM CARD */
.form-card {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 25px;
  margin-top: 40px;
  border-radius: 15px;
}

/* INPUTS */
.form-control {
  border-radius: 8px;
}

/* BUTTON */
.btn-primary {
  background-color: #3b82f6 !important;
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-weight: bold;
}

/* BUTTON HOVER */
.btn-primary:hover {
  background-color: #2563eb !important;
}

/* LINK */
a {
  text-decoration: none;
  font-weight: 500;
}

.custom-nav {
  background-color: #d90404;
  padding: 12px 25px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-weight: bold;
  font-size: 20px;
  color: white;
  letter-spacing: 0.5px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  padding: 6px 10px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 6px;
  transition: 0.2s;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

<!--Logoutbtn styles -- > .logout-btn {
  background-color: white;
  color: #d90404 !important;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: #f3f3f3;
}

<!--Account Info styles -- > .account-card {
  max-width: 600px;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 15px;
}

.role-badge {
  display: inline-block;
  background-color: #3b82f6;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.security-note {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 15px;
}
.rightside {
  background-color: #ddd;
  padding: 15px;
  border-radius: 10px;
  height: 100%;
}

.borderbox {
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  margin-bottom: 20px;
}

.greyhead {
  background-color: #ddd;
  padding: 10px;
  border-bottom: 2px solid black;
  font-weight: bold;
}

.redbtn {
  background-color: #d90404;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
}

.navbtn {
  background-color: #d90404;
  color: white;
  width: 100%;
  border: none;
  padding: 10px;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}
